<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">  
	      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %level (%F:%L) %m%n"/>  
	    </Console>
	</Appenders>

	<loggers>
		<logger name="org.apache.ibatis" level="WARN" additivity="true">
	    </logger>
		<logger name="org.mybatis" level="WARN" additivity="true">
	    </logger>
	    
		<logger name="org.springframework" level="WARN" additivity="true">
	    </logger>
		
		<root level="debug">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</Configuration>